body {
  font-family: Arial, Helvetica;
}

.instructions {
  color: black;
  font-size: 22px;
  text-align: left;
}

#instructions {
  margin-left: 20px;
  display:none
}

#startExpButton {
  display:none;
  color: black;
  border: 3px outset grey;
  background-color: #CCCCCC;
  padding: 8px;
  text-decoration: none;
  font-family: Arial, Helvetica;
  font-weight: bold;
}

#startExpButton:hover {
  color: white;
}

#startExpButton:active {
  border: 3px inset grey;
}

#pressStartMessage {
  margin-top: 50px;
  text-align: center;
  color: red;
}
