/* high level defaults */
body {
  font-family: Arial, Helvetica;
}

canvas {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: none;
}

/* instruction screen styles */
.instructions {
  color: black;
  font-size: 22px;
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
}

/* Start Experiment Button  */
#startExpButton {
  display:none;
  color: black;
  border: 3px outset grey;
  background-color: #CCCCCC;
  padding: 8px;
  text-decoration: none;
  font-family: Arial, Helvetica;
  font-weight: bold;
}

#startExpButton:hover {
  color: white;
}

#startExpButton:active {
  border: 3px inset grey;
}

#pressStartMessage {
  margin-top: 50px;
  text-align: center;
  color: red;
}
